body{
  font-family: 'Sahitya', serif;
  background-color: white;
}
a{
  color: white;
}
h1{
  font-size: 36px;
  /*font-family: 'Helvetica Neue';*/
  color: #001b48;
}
h2{
  font-size: 24px;
  color: #001b48;
}
h3{
  font-size: 20px;
  color: #018abd;
}
.background{
  background-image: url('../../images/cuttingBoard.jpeg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}
.shelf{
  background-image: url('../../images/potatos.jpg');
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.m{
  margin: auto;
}
.p{
  padding-top: 10px;
  padding-bottom: 2px;
}
.fontColor{
  color: black;
}
.fontShadow{
  text-shadow: 1px 1px black;
}
.itemCard{
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin-top: 10px;
}
.shadow{
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.recipeBackground{
  background-color: #dde8f0;
}
.itemBackground{
  background-color: #dde8f0;
  width: 90%;
  min-width: 227px;
  margin: auto;
}
.border{
  border: 2px solid red;
}
.navbar{
  background-color: #018abd;
  border-top: 3px solid #001b48;
  border-bottom: 3px solid #001b48; 
}
.navLogo{
  max-width: 35px;
}
.btnSize{
  width: 100%;
}
.addBtn{
  width: 25%;
}
.productImg{
  width: 60%;
  max-height: 250px;
  min-height: 131.24px;
  margin-bottom: 5px;
}
.addItemBtn{
  margin: 3% auto 3% 3%;
  width: 35%;
}
.minW{
  min-width: 105px;
}
.hmBtn{
  margin-bottom: 15px;
  height: 100%;
}
.itemImg{
  max-height: 258px;
  max-width: 227px;
}
.recipeImg{
  width: 90%;
  height: 30vw;
  max-height: 300px;
  margin-top: 10px;
}
.recipeTitle{
  height: 120px;
}
.bubble{
  padding: 1%;
  margin: 3%;
}
.fruits{
  border-top: 4px solid #001b48;
  padding-top: 10px;
}
.vegetables{
  border-bottom: 4px solid #004581;
}
.dairy{
  border-bottom: 4px solid #018abd;
}
.meat{
  border-bottom: 4px solid #97cbdc;
}
.unknown{
  border-bottom: 4px solid #dde8f0;
}
.btnFruit{
  border-color: #001b48;
  color: #001b48;
  background-color: white;
}
.btnVegetable{
  border-color: #004581;
  color: #004581;
  background-color: white;
}
.btnUnknown{
  border-color: #018abd;
  color: #018abd;
  background-color: white;
}
.rowPush{
  margin-top: 4%;
  margin-bottom: 4%;
}
.img{
  margin-top: 10px;
  width: 30vw; 
  height: 30vw;
}
.logo{
  margin-top: 200px;
  width: 40%;
  height: 40%;
  min-width: 100px;
}
