  <div class="row" ng-show='isLoggedIn()'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <form>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" ng-model='newItem.name' name="productName" class="form-control">
        </div>
        <div class="form-group">
          <label>Purchase Date</label>
          <input type="date" ng-model='newItem.addDate' name="addDate" class="form-control">
        </div>
        <button type="submit" class="btn" ng-click='addItem()'>Add</button>
      </form>
    </div>
  </div>