<h1>Welcome Admin!</h1>

<div ng-hide='Admin()'>
  <h2>This page is for Admins only. If you feel you have reached this message inaccurately please contact someone Hailey or Ben.</h2>
</div>

<content ng-show='Admin()'>
  <form ng-submit='addFood()'>
    <label>Product Img:</label>
    <input ng-model='newFood.img' type="text" name="img" placeholder="Image URL">
    <label>Name:</label>
    <input ng-model='newFood.name' type="text" name="name" placeholder="ie Apple">
    <label>useBy:</label>
    <input ng-model='newFood.useBy' type="num" name="useBy" placeholder="Number of days good for. ie 10">
    <label>Type:</label>
    <input ng-model='newFood.type' type="text" name="type" placeholder="dairy meat veg fruit">
    <label>Compostable:</label>
    <input ng-model='newFood.compostable' type="text" name="compostable" placeholder="true or false">
    <label>Freeze Info:</label>
    <input ng-model='newFood.freeze' type="text" name="freeze" placeholder="Freeze or not info">
    <label>Fridge Info:</label>
    <input ng-model='newFood.fridge' type="text" name="fridge" placeholder="Refigeration info">
    <input type="submit" class="btn">
  </form>
</content>