<div class="row background">
  <div class="col-xs-12">
    <div class="row">
      <div>
        <a ng-hide='isLoggedIn()' class="btn btn-default" href='/login'>Login</a>
        <a ng-hide='isLoggedIn()' class="btn btn-default" href='/signup'>Signup</a>
        <h2 class="fontShadow welcome" ng-show='isLoggedIn()'>Welcome {{ user.name }}</h2>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 col-lg-4 hmBtn">
        <a href="/admin" ng-show='admin()' class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 col-lg-4 btn btn-default btn-lg addItemBtn">Foods DB</a>
      </div>  
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 col-lg-4 hmBtn">
        <a href='/pantry' class="btn btn-lg btnVegetable btnSize shadow">Your Eats</a>
      </div>  
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 col-lg-4 hmBtn">
        <a href='/donate' class="btn btn-lg btnUnknown btnSize shadow">Donate</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 col-lg-4 hmBtn">
        <a href="/recipes" class="btn btn-lg btnFruit btnSize shadow">Menu</a>
      </div>  
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-md-4 col-lg-4">
        <img class="img-circle logo" src="../../images/logo2.png">
      </div>
    </div>
  </div>
</div>
