<div class="row shelf">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class=""><strong>Pantry</strong></h1>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div ng-hide='isLoggedIn()'>
      <h2>Please <a href="/signup">create an account</a> or <a href="/login">login</a> to access your pantry!</h2>
    </div> 

    <div ng-show='isLoggedIn()'>
      <div ng-if='userPantry < 1'>
        <a href="/addItem" class="btn btn-lg addItemBtn col-xs-3">Add Items</a>
        <h2 class="col-xs-12">You don't have any items in your pantry!</h2>
      </div>
      <div ng-if='userPantry.length > 1'>
        <div class="row">
          <a href="/addItem" class="btn btn-lg addItemBtn pull-left col-3 col-offset-9 minW">Add Items</a>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <input class="form-control minW" type="text" id="search" ng-model="search" placeholder="Search">
      </div>
      <!-- <h2 class="col-xs-3 m">Search</h2> -->
    </div>

  </div>

  <img src="../../images/logo.png">

</div>


<section class="fontColor">
  <div ng-show='isLoggedIn()'>

    <div  ng-if='search' class="row">
      <div class="col-xs-12 col-sm-6" ng-repeat='item in userPantry | filter: search track by item._id'>

        <div ng-include="'app/views/itemCard.html'"></div>

      </div>
    </div>

    <div ng-if='!search'>

      <div class="row rowPush" ng-if='fruits.length > 0'>
        <h1 class="p text-left">Fruits</h1>
        <div class="fruits">
          <div class="col-xs-12 col-sm-6 rowPush" ng-repeat='item in fruits track by item._id'>

            <div ng-include="'app/views/itemCard.html'"></div>

          </div>
        </div>
      </div>

      <div class="row rowPush" ng-if='vegetables.length > 0'>
        <h1 class="p text-left">Vegetables</h1>
        <div class="vegetables">
          <div class="col-xs-12 col-sm-6 rowPush" ng-repeat='item in vegetables track by item._id'>

            <div ng-include="'app/views/itemCard.html'"></div>

          </div>
        </div>
      </div>

      <div class="row rowPush" ng-if='dairy.length > 0'>
        <h1 class="p text-left">Dairy</h1>
        <div class="dairy">
          <div class="col-xs-12 col-sm-6 rowPush" ng-repeat='item in dairy track by item._id'>

            <div ng-include="'app/views/itemCard.html'"></div>

          </div>
        </div> 
      </div>

      <div class="row rowPush" ng-if='meat.length > 0'>
        <h1 class="p text-left">Meat</h1>
        <div class="meat">
          <div class="col-xs-12 col-sm-6 rowPush" ng-repeat='item in meat track by item._id'>

            <div ng-include="'app/views/itemCard.html'"></div>

          </div>  
        </div>      
      </div>

      <div class="row rowPush" ng-if='unknown.length > 0'>
        <h1 class="p text-left">Unknown</h1>
        <div class="unknown">
            <div class="col-xs-12 col-sm-6 rowPush" ng-repeat='item in unknown track by item._id'>

              <div ng-include="'app/views/itemCard.html'"></div>

            </div>
          </div>
        </div>

    </div>

  </div>
</section>
