<div class="row fontColor">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Profile</h1>
  </div>
  <div ng-hide="isLoggedIn()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Please <a href="/login">login</a> to see your profile!</h2>
  </div> 
</div>


<div class="fontColor" ng-show="isLoggedIn()">
  <div class="row">
    <h3 class="col-xs-12">Would you like to update your account?</h3>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="name">Name:</label>
      <input class="form-control" type="text" ng-model="user.name">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="email">Email Address:</label>
      <input class="form-control" type="text" ng-model="user.email">
    </div>
  </div>
  <div class="row">
    <button class="btn vegetables" type="submit" ng-click='updateProfile(user.id)'>Update</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Would you like to delete your account?</h3>
      <h5>We'll be sad to see you go...</h5>
    </div>
    <button class="btn meat" type="submit" ng-click="deleteProfile(user.id)">Delete Account</button>
  </div>
</div>